<div class="main-content container-fluid" style="padding-top: 10px !important;">
  <div class="user-profile">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-dark text-white"><img class="card-img" src="assets/img/1088x336.png" alt="Placeholder">
          <div class="card-img-overlay card-img-overlay-center">
            <div class="card-title">Card with image overlays</div>
            <p>Curabitur eleifend augue non convallis condimentum. In iaculis eu est at iaculis. Praesent finibus est sit amet orci posuere vulputate.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header" style="font-size: 22px;">What is <span style="font-family: 'Comfortaa', cursive; font-size: 22px; font-weight: bolder; color: red;">newsfiltr</span>?</div>
          <div class="card-body">
            <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p><a class="card-link" href="#">Card link</a><a class="card-link" href="#">Another link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-stretch">
        <div class="card card-contrast">
          <!--<div class="card-header card-header-contrast card-header-featured">Quote</div>-->
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>What a newspaper needs in its news, in its headlines, and on its editorial page is terseness, humor, descriptive power, satire, originality, good literary style, clever condensation, and accuracy, accuracy, accuracy!</p>
              <footer class="blockquote-footer">Joseph Pulitzer</footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-stretch">
        <div class="card card-contrast">
          <!--<div class="card-header card-header-contrast card-header-featured">Quote</div>-->
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Citizens in a democracy need diverse sources of news and information.</p>
              <footer class="blockquote-footer">Bernie Sanders</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
