<div class="notification-box" style="position: absolute;top: 10px;right: 10px;z-index: 800;"></div>

<div class="be-splash-screen">
  <div class="be-wrapper be-login">
    <div class="be-content">
      <div class="main-content container-fluid">
        <div class="splash-container forgot-password">
          <div class="card card-border-color card-border-color-primary">
            <div class="card-header">
              <a routerLink="/" class="navbar-brand" style="cursor: pointer;"> <span style="font-family: 'Comfortaa', cursive; font-size: 22px; font-weight: bolder; color: red;">newsfiltr</span>
                <small style="color: black;">beta</small>
              </a>
            </div>

            <div style="padding-bottom: 60px;" class="card-body">
              <h3 style="font-weight: bold;">Please wait one moment while we verify your email!</h3>
            </div>
          </div>
          <div class="splash-footer">&copy; 2018 MCM Technologies, LLC</div>
        </div>
      </div>
    </div>
  </div>
</div>
