<div class="notification-box" style="position: fixed;top: 70px;right: 10px;z-index: 10000;"></div>

<div class="be-splash-screen">
  <div class="be-wrapper be-login">
    <div class="be-content">
      <div class="main-content container-fluid">
        <div class="splash-container forgot-password">
          <div class="card card-border-color card-border-color-primary">
            <div class="card-header">
              <a routerLink="/" class="navbar-brand" style="cursor: pointer;"> <span style="font-family: 'Comfortaa', cursive; font-size: 22px; font-weight: bolder; color: red;">newsfiltr</span>
                <small style="color: black;">beta</small>
              </a>
            </div>

            <div class="card-body">
              <form>
                <p>Please enter your new password.</p>
                <div style="margin-bottom: 1.138rem; padding-top: 0px;" class="form-group">
                  <input [(ngModel)]="password" class="form-control" type="password" name="password" required="" placeholder="Your new password" autocomplete="off">
                </div>
                <div style="padding-top: 0px;" class="form-group">
                  <input [(ngModel)]="confirmpassword" class="form-control" type="password" name="confirmpassword" required="" placeholder="Confirm new password" autocomplete="off">
                </div>
                <!--<p class="pt-1 pb-4">Don't remember your email? <a href="#">Contact Support</a>.</p>-->
                <div class="form-group pt-1"><a style="color: white;" class="btn btn-block btn-primary btn-xl" (click)="submitReset()">Set New Password</a></div>
              </form>
            </div>
          </div>
          <div class="splash-footer">&copy; 2018 MCM Technologies, LLC</div>
        </div>
      </div>
    </div>
  </div>
</div>
